.driverArea {
  display: flex;
}
.driverContentsBox{
  width: 70%;
  box-shadow: 0px 1px 2px 1px rgba(0, 0, 0, 0.25);
    border-radius: 7px;
}
.newsArea {
  display: flex;
}
.stockArea {
  display: flex;
}

.myStockArea {
  display: flex;
}
