.driverArea {
  display: flex;
  gap: 10px;
  overflow: scroll;
}

.newsArea {
  display: flex;
  gap: 10px;
  overflow: scroll;
  height: 135px;
}
.newsArea::-webkit-scrollbar {
  display: none;
}
.stockArea {
  display: flex;
}
.myStockArea {
  display: flex;
}
