.stockSearch {
  overflow: auto;
}
.companyItem {
  transition: background-color 0.3s;
}

.hovered {
  background-color: lightblue;
}

.flexBetween {
  display: flex;
  justify-content: space-between;
}

.stockSearch {
  height: 500px;
}
