* {
  margin: 0px;
}

body {
  box-sizing: border-box;
}

#root {
  width: 100vw;
  height: 100vh;
  background-color: wheat;
  display: flex;
  justify-content: center;
}

.container {
  width: 430px;
  height: 932px;
  background-color: white;
}
