<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Hz - 첫 페이지</title>
    <style>
      @import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
    </style>
    <style>
      * {
        font-family: "Inter", sans-serif;
      }
    </style>
  </head>
  <body>
    <div id="root"></div>
    <script type="module" src="../js/pdj-test.js"></script>
    <!-- <script
      type="module"
      src="../../../issues/issue3/temp/pokeDataLoad.js" -->
    <!-- ></script> -->
    <script src="/socket.io/socket.io.js">
      const socket = io('localhost:8080')
      io.on("connection", (socket)=> {
  console.log("소켓 서버가 정상 연결됐습니다.");
  socket.on("disconnection", ()=> {
    console.log("소켓 서버와 연결이 끊김")
  })
})
    </script>
  </body>
</html>
